#logo {
  width: 30px;
  height: 30px;
}

#mainContainer {
  height: 100%;
  margin-top: 60px;
}

#roomContainer {

}

#newHomeCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#newRoomCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#newItemCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}